<HTML>
    <head>
        <link rel="stylesheet" href="https://fonts.google.com/specimen/Fira+Code?query=Fira+Code">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
        <script src="{{ url_for('static',filename='scripts/sudoku.js') }}"></script>
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="menubar" id="menuBar">
            <a href="#home" class="active">Sudoku</a>
            <a href="#manual">Manual</a>
            <a href="#about">About</a>
            <a href="#contact">Contact</a>
        </div>
        {% block body %}{% endblock %}
        </div>
    </body>
</HTML>