<HTML>
    <head>
        <link rel="stylesheet" href="https://fonts.google.com/specimen/Fira+Code?query=Fira+Code">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
        <script src="{{ url_for('static',filename='scripts/sudoku.js') }}"></script>
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="menubar" id="menuBar">
            <a href="#home" class="active">Sudoku</a>
            <a href="{{ url_for('static',filename='files/manual.pdf') }}"  target="_blank">Manual</a>
        </div>
        {% block body %}{% endblock %}
            <div align="bottom">
            <h3>About L.H.P Sudoku</h3>
            <p>This game was created by Robert Lawton, Andrew Player, and Gannon Higgins. Our game is a variation 
                on the classic puzzle game of Sudoku. The goal of Sudoku is to fill the 9x9 grid of spaces with numbers 1-9 
                while following a set of rules. Within the rows and columns are 9 "sub-squares" made up of 3x3 spaces. Each row, 
                column, and 3x3 sub-square must not allow any repeated numbers. If you would like to read up more on this, please 
                refer to the manual. We hope you enjoy our game!</p>
            </div>
        </div>
    </body>
</HTML>